<ion-header>
  <ion-toolbar>
    <ion-title>Troli nya {{name}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" color="light" (click)="prosesLogout()">
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let t of troli">
    <ion-item>
      <ion-card>
        <ion-card-content>
        <h2>Nama Mobil : {{t.nama_kendaraan}}</h2>
        <h2>Tanggal Sewa : {{t.tgl_sewa}}</h2>
        <h2>Jam Pengambilan : {{t.jam_pengambilan}}</h2>
        <h2>Total Pembayaran : {{t.total}}</h2>
        <h2>Status : {{t.status}}</h2>
        </ion-card-content>
        <ion-button color="danger"(click)="delBooking(t.id_booking)">HAPUS PESANAN</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>


</ion-content>
